html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0A1A2F;
  line-height:1.2;
  font-weight: 400;
  color: #495057;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.container{
  max-width: 1200px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar{
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.btn{
  font-size: 3rem;
  border: none;
  border-radius: 2rem;
  padding: 2rem 3rem;
  font-weight: bold;
  margin-top: 3rem;
 }
 
 .btn-primary{
   background-color: #3B82F6;
   color: white;
   border: 0.2rem solid #3B82F6;
 }
 
 .btn-primary:link, .btn-primary:active{
   background-color: ;
   color: ;
 }
 
 .btn-primary:hover, .btn-primary:active{
  background-color: #3A86FF;
  color: white;
}

.form-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: calc(100vh - 50px);
}

.section-image{
  width: 50%;
}

.contact-heading{
  color: white;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.user-name, .user-email{
  border: none;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.message{
  border-radius: 2.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.submit-button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color:  #3A86FF;
  color: white;
  font-size: 2.4rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3rem;

}
